.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  width:100%;
  top: 20%;
  background:#000;
  opacity:.9;
}

.hero-hed{
  margin:0 auto;
  font-size:3em;
  font-family: 'Montserrat', sans-serif;
  padding-bottom:10px;
  color:#fff;
}
#title{
  text-align:center;
  color: white;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
#headline{
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline{
  font-size:1em;
  font-family:'Montserrat', sans-serif;
  text-transform:uppercase;
  text-align:center;
}
p{
  font-family: Georgia, serif;
  line-height:180%
  font-size:1em;
}

  #footer{
    color: white;
    background-color: black;
    color: white;
    font-size:0.5;
    font-weight:100;
    text-align:center;
    font-family:Georgia, serif;
   }

 a:hover {
   color: gray;
}
.pquote{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size:1.5em;
  color: #e67d1d;
  font-weight: 700;
  text-align: center;
}
#subheading{
  font-family: 'Montserrat', sans-serif;
  color: #a10001;
}
